<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Site Metas -->
	<title>Incognito Healer</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<!-- Pogo Slider CSS -->
	<link rel="stylesheet" href="static/css/pogo-slider.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="static/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="static/css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="static/css/custom.css">
	<link rel="stylesheet" href="static/css/custom.css">



	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script type="text/javascript">
	(function (d, m) {
		var kommunicateSettings =
			{ "appId": "3296cedc1117379a137796909a3a850d7", "popupWidget": true, "automaticChatOpenOnNavigation": true };
		var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
		s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
		var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
		window.kommunicate = m; m._globals = kommunicateSettings;
	})(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
	<!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
	<!-- END LOADER -->

	<!-- Start top bar -->
	<!-- <div class="main-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-top">
						<a class="new-btn-d br-2" href="#appointment"><span>Book Appointment</span></a>
						<div class="mail-b"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> as7642@srmist.edi.in</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wel-nots">
						<p>AUTISM DETECTOR</p>
					</div>
					<div class="right-top">
						<ul>
							<li><a href="https://www.facebook.com/aditya.damen"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://twitter.com/adityadamen"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/damenaditya/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="https://github.com/Adityadamen/Autism-Detector"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- End top bar -->

	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="static/images/images.jpg" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link active" href="#home">Home</a></li>
						<li><a class="nav-link" href="#about">About Us</a></li>
						<li><a class="nav-link" href="/practice">Recomendation</a></li>
						<li><a class="nav-link" href="#appointment">Appointment</a></li>
						<li><a class="nav-link" href="#Melancholy">Melancholy</a></li>
						<li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#team">Doctor</a></li>
						<li><a class="nav-link" href="#blog">Blog</a></li>
						<li><a class="nav-link" href="#contact">Feedback</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(static/images/slider-01.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>WELCOME TO INCOGNITO HEALER</h1>
								<p>ITS OK NOT TO BE OK </p>
								<a href="#contact" class="btn">Feedback</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(static/images/slider-02.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>We are Expert in The Field of Health Lab</h1>
								<p>You may not be perfect, but you 100% right</p>
								<a href="#appointment" class="btn">Appointment</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(static/images/slider-03.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Your Mental Health Matters</h1>
								<p>Tough times don’t last, tough people do</p>
								<a href="#blog" class="btn">Read Blog</a>
							</div>
						</div>

					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->

	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>About Us</h2>
							<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> Incognito Healer </h2>
								<p>Education system is so rigid where the onus of learning is on the students and their
									family. Students are targeted by society and pressurized and burdened with
									expectations by family which is entitled more on examination results rather than
									learning.</p>
								<p>Education for a majority of students in India is neither useful nor meaningful. In
									fact, it creates a number of psychological and practical problems among Students.
								</p>
								<p>95% of college counseling center directors surveyed said the number of studentswith
									significant psychological problems is a growing concern in their center or on
									campus. The taboo surrounding mental health problems and the unwillingness of most
									colleges to take up the cost of professional counselling make India’s youth highly
									vulnerable.</p>
								<p>Mental health problems can affect a student's energy level, concentration,
									dependability, mental ability, and optimism, hindering performance.</p>
								<a href="https://curingit.herokuapp.com/" class="new-btn-d br-2">Read More</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="static/images/about-img-01.jpg" alt="">
										</li>
										<li>
											<img src="static/images/about-img-02.jpg" alt="">
										</li>
										<li>
											<img src="static/images/about-img-03.jpg" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->





	<!-- Start Appointment -->
	<div id="appointment" class="appointment-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Appointment</h2>
						<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
						<div class="well-title">
							<h2>Book an Appointment</h2>
						</div>
						<form class="appointment-form" action="{{ url_for('predict1')}}" method="post"
							accept-charset="utf-8" autocomplete="on">
							<!-- Form start -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="name">Name</label>
										<input id="name" name="name" type="text" placeholder="Name"
											class="form-control input-md">
									</div>
								</div>
								<!-- Text input-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="email">Email</label>
										<input id="email" name="email" type="text" placeholder="E-Mail"
											class="form-control input-md">
									</div>
								</div>
								<!-- Text input-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="date">Preferred Date</label>
										<input id="date" name="date" type="text" placeholder="Preferred Date"
											class="form-control input-md">
									</div>
								</div>
								<!-- Select Basic -->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="time">Preferred Time</label>
										<select id="time" name="time" class="form-control">
											<option value="8:00 to 9:00">8:00 to 10:00</option>
											<option value="9:00 to 10:00">14:00 to 16:00</option>
										</select>
									</div>
								</div>
								<!-- Select Basic -->
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label" for="appointmentfor">Department</label>
										<select id="appointmentfor" name="appointmentfor" class="form-control">
											<option value="Choose Department">Choose Department</option>
											<option value=" Child psychiatrist"> Child Psychiatrist</option>
											<option value="pediatric neurologist,">pediatric neurologist,</option>
											<option value="developmental pediatrician">developmental pediatrician
											</option>
										</select>
									</div>
								</div>
								<!-- Button -->
								<div class="col-md-12">
									<div class="form-group">
										<button id="singlebutton" name="singlebutton" class="new-btn-d br-2">Make An
											Appointment</button>
									</div>
								</div>
							</div>
						</form>
						<!-- form end -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
						<div class="well-title">
							<h2>Why Appointment with Us</h2>
						</div>
						<div class="feature-block">
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">24/7 Hours Available</h4>
								<div class="feature-content">
									<p>Our website is 24/7 active for routine analysis. We consistently give detailed,
										accurate results in a timely manner.</p>
								</div>
							</div>
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">Routine Maintenance:</h4>
								<div class="feature-content">
									<p>Site Goes for a Routine Maintenance every six month to increase efficiency. </p>
								</div>
							</div>
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">No Extra Price / Additional Fees</h4>
								<div class="feature-content">
									<p>Interactive Counselling with personal assistance session.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Appointment -->


	<!-- Start About us -->
	<div id="Melancholy" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2> Melancholy </h2>
							<p>EVERY FACE HAS A STORY. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> About Melancholy! </h2>
								<p>Talking about your feelings isn’t a sign of weakness. It’s part of taking charge of
									your wellbeing and doing what you can to stay healthy.</p>
								<p>Talking can be a way to cope with a problem you’ve been carrying around in your head
									for a while. Just being listened to can help you feel supported and less alone. And
									it works both ways. If you open up, it might encourage others to do the same.</p>
								<p>The advantages of seeing a counselor include:Providing a safe zone where the students
									can speak honestly
									Offering students guidance and support through tough times
									Helping them cope better with reality
									Assisting them (and facilitating) positive behavior changes</p>
								<p> <strong>Begin a conversation whenever you are feeling MELANCHOLY.</strong></p>
								<p>There are two types of rooms in Melancholy, one with the counsellor letting you have
									a conversation with not only a professional but also lets you have a virtual support
									group</p>
								<p>(Note :Counsellor is available from 9:00 PM to 12:00AM )</p>
								<a href="https://chat-room-anmol.herokuapp.com/" class="new-btn-d br-2">Chat</a>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul style="padding:0px">
										<li>
											<img src="static/images/Meloncholy-01.jpg" style="width:100%" alt="">
										</li>
									</ul>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->


	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
						<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT </p>
					</div>
				</div>
			</div>

			<div class="popup-gallery row clearfix">
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-01.jpeg" alt="">
						<div class="box-content">
							<h3 class="title">LIVE LIFE TO FULLEST</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-01.jpeg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-02.jpg" alt="">
						<div class="box-content">
							<h3 class="title">TAKE CARE</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-02.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-03.jpg" alt="">
						<div class="box-content">
							<h3 class="title">WE ARE THERE FOR YOU</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-03.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-04.jpg" alt="">
						<div class="box-content">
							<h3 class="title">YOU ARE NOT ALONE</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-04.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-05.jpg" alt="">
						<div class="box-content">
							<h3 class="title">TAKE A BREAK</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-05.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-06.jpg" alt="">
						<div class="box-content">
							<h3 class="title">IT WILL BE FINE</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-06.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-07.jpg" alt="">
						<div class="box-content">
							<h3 class="title">DON'T TAKE STRESS</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-07.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="static/images/gallery-08.jpg" alt="">
						<div class="box-content">
							<h3 class="title">MAKE FRIENDS</h3>
							<ul class="icon">
								<li><a href="static/images/gallery-08.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->

	<!-- Start Team -->
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Doctor</h2>
						<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="static/images/img-1.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">Williamson</h3>
							<span class="post">Counsellor</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="static/images/img-2.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">kristina</h3>
							<span class="post">Counsellor</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="static/images/img-3.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">Steve Thomas</h3>
							<span class="post">Counsellor</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- End Team -->

	<!-- Start Blog -->
	<div id="blog" class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Blog</h2>
						<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="static/images/blog-img-01.jpg" alt="" />
						</div>
						<h2>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT</h2>
						<p>It’s important to emphasise that the diagnostic parameters in the first step method engage
							not only with the motoric level, but also with the sensory level </p>
						<a class="new-btn-d br-2" href="https://curingit.herokuapp.com/">Share your story <i
								class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="static/images/blog-img-02.jpg" alt="" />
						</div>
						<h2>What to be done to overcome it ?</h2>
						<p>its real and condition of extreme highs and lows of moodswings , its a psychological
							instability phase. Its real , dont be ashamed of admitting it .</p>
						<a class="new-btn-d br-2" href="https://curingit.herokuapp.com/">Read More <i
								class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="static/images/blog-img-03.jpg" alt="" />
						</div>
						<h2> I Believe Health Care is a Civil Right </h2>
						<p> At some point in our lives, we all may experience symptoms like sadness, loss of interest,
							lack of pleasure from performing daily activities, etc.</p>
						<a class="new-btn-d br-2" href="https://curingit.herokuapp.com/">Read More <i
								class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Blog -->

	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Feedback Form</h2>
						<p>JUST BECAUSE IT'S HARD IT DOESN'T MEAN ITS IMPOSSIBLE YOU CAN DO IT</p>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-12 col-xs-12">
					<div class="contact-block">
						<form id="contact-Form" action="{{ url_for('predict3')}}" method="post">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Your Name" required data-error="Please enter your name">
										<div class="help-block with-errors"></div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<textarea name= "Feed" class="form-control" id="message" placeholder="Your Message" rows="8"
											data-error="Write your message" required></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Send Message</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>

								</div>
							</div>
						</form>
					</div>
				</div>


				<div class="col-lg-12 col-xs-12">
					<div class="left-contact">
						<h2>Address</h2>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Address</h4>
								<p>Half road gumja colony street 786 near jail Pathan Khot Bhilaspur,495001</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<a href="#">incognitohealer@gmail.com</a><br>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4>
								<a href="#">12345 67890</a><br>
								<a href="#">12345 67890</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- End Contact -->


	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2021 <a href="#">Incognito Healer</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->





	<!-- ALL JS FILES -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/jquery.pogo-slider.min.js"></script>
	<script src="static/js/slider-index.js"></script>
	<script src="static/js/smoothscroll.js"></script>
	<script src="static/js/TweenMax.min.js"></script>
	<script src="static/js/main.js"></script>
	<script src="static/js/owl.carousel.min.js"></script>
	<script src="static/js/form-validator.min.js"></script>
	<script src="static/js/contact-form-script.js"></script>
	<script src="static/js/isotope.min.js"></script>
	<script src="static/js/images-loded.min.js"></script>
	<script src="static/js/custom.js"></script>
</body>

</html>